<div class="mt-4">
    <h3>Chỉnh Sửa Khóa Học</h3>
    <form method="post" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="Text" value="{{course.name}}" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô Tả</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Ảnh Khóa Học</label>
            <input type="Text" value="{{course.image}}" class="form-control" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="Text" value="{{course.videoId}}" class="form-control" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>