<div class="mt-4">
    <div>
      <h3>Khóa Học Đã Xóa</h3>
      <a href="/me/stored/courses">Danh Sách Khóa Học</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Khóa Học</th>
                <th scope="col">Trình Độ</th>
                <th scope="col">Mô Tả</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a data-id="{{this._id}}" class="btn btn-link btn-restore">Khôi Phục</a>
                </td>
                <td>
                    <a href= '' data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#confirmDelete" class="btn btn-link">Xóa Vĩnh Viễn </a>
                </td>
            </tr>
            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                    Thùng Rác Trống
                </td>
              </tr>
            {{/each}}
        </tbody>
        </table>
</div>


<!-- Confirm Force Delete -->
<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa khóa học này không?
      </div>
      <div class="modal-footer">
        <button id="delCourseBtn" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy Bỏ</button>
      </div>
    </div>
  </div>
</div>

<form action="" method="post" name="restore-course-form"></form>
<form method="post" name="deleteCourse"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        // Restore
        var restoreBtns = $('.btn-restore')
        var restoreForm = document.forms['restore-course-form'];
        var courseID;
        restoreBtns.click(function(e){
            courseID = $(this).data('id');
            restoreForm.action = '/courses/' + courseID + '/restore?_method=PATCH';
            restoreForm.submit();
        });

        // Force Delete
        var confirmDelModal = document.getElementById('confirmDelete');
        var id;
        confirmDelModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            id = button.getAttribute('data-id')
        })
        var delCourseBtn = document.querySelector('#delCourseBtn');
        delCourseBtn.onclick = function(){
            var deleteForm = document.forms['deleteCourse'];
            deleteForm.action = `/courses/${id}/force?_method=DELETE`;
            deleteForm.submit();
        }
    })
</script>